<!-- Creación de producto DB -->


<%- include('../partials/head.ejs', {cssSheet: 'productCart'}) %>

<%- include('../partials/header.ejs') %>

<script src="/js/createProduct.js"></script>

<body>
  <div class="tittleSpace">
    <h2>NUEVO PRODUCTO</h2>
    <ul class="errores">
    </ul>
    <div class="row">
        <div class="col-75">
            <div class="container">
              <form class="form" action="/products/create" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-50">
                    <h3>Datos del producto</h3>
                    <label for="nombre"><i class="fa fa-tag"></i> Nombre del Producto</label>
                    <input id="nombre" type="text"  name="nombre" placeholder="Buso Deportivo DH">
                    <label for="rate"><i class="fa fa-star"></i> Puntuación</label>
                    <input type="text" id="rate" name="rate" placeholder="4.5">
                    <label for="precioAntes"><i class="fa fa-money-bill"></i> Precio Antes</label>
                    <input type="text" id="precioAntes" name="precioAntes" placeholder="20000">
                    <label for="discount"><i class="fa fa-percent"></i> Descuento</label>
                    <input type="text" id="discount" name="discount" placeholder="50">
                    <label for="precioAhora"><i class="fa fa-dollar-sign"></i> Precio Ahora</label>
                    <input type="text" id="precioAhora" name="precioAhora" placeholder="10000" >
                    <label for="descripcion"><i class="fa fa-keyboard"></i> Descripción</label>
                    <textarea id="descripcion" name="descripcion"  rows="4" cols="50" placeholder="Buso 100% algodón color gris"></textarea>

                    <label for="category"><i class="fa fa-list"></i> Categoría</label>
                      <select name="category">
                        <option value="" selected disabled>Selecciona una categoría</option>
                        <% for (let i = 0; i < categories.length; i++) { %>
                          <option value="<%= categories[i].id %>"><%= categories[i].category %></option>
                        <% } %>
                        <option value="nueva">Agregar nueva categoría</option>
                      </select>

                    <div id="nuevaCategoriaContainer" style="display: none;">
                      <label for="nuevaCategoria"><i class="fa fa-plus"></i> Nueva Categoría</label>
                      <input type="text" id="nuevaCategoria" name="nuevaCategoria" placeholder="Nueva Categoría">
                    </div>

                    <label for="color"><i class="fa fa-palette"></i> Color</label>
                      <select name="color">
                        <option value="" selected disabled>Selecciona un color</option>
                        <% for (let i = 0; i < colors.length; i++) { %>
                          <option value="<%= colors[i].id %>"><%= colors[i].color %></option>
                        <% } %>
                        <option value="nuevo">Agregar nuevo color</option>
                      </select>

                    <div id="nuevoColorContainer" style="display: none;">
                      <label for="nuevoColor"><i class="fa fa-plus"></i> Nuevo Color</label>
                      <input type="text" id="nuevoColor" name="nuevoColor" placeholder="Nuevo Color">
                    </div>
                                                     
                    <div class="row">
                      <div class="col-50">                
                        <label for="size"><i class="fa fa-ruler"></i> Talle</label>
                          <select name="size">
                            <option value="" selected disabled>Selecciona un talle</option>
                            <% for (let i = 0; i < categories.length; i++) { %>
                              <% if (categories[i].category === 'Ropa') { %>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                              <% } else if (categories[i].category === 'Calzado') { %>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                              <% } else if (categories[i].category === 'Accesorios') { %>
                                <option value="N/A">N/A</option>
                              <% } %>
                            <% } %>
                            
                          </select>
                        
                          
                      </div>
                      <div class="col-50">
                        <label for="productImage"><i class="fa fa-file-import"></i> Subir Imagen</label>
                        <input id= "userImage" type="file" name="productImage" value="Agregar Imagen">
                      </div>
                    </div>
                  </div>
                  <div class="col-50">
                    <h3>Imagen del producto</h3>
                    <article class="articulo">
                        <img class="imagenes-addProduct" src="/images/products/default-product-image.png" alt="defaultImage">
                    </article>
                  </div>
                </div>
                <input type="submit" value="Agregar Producto" class="btn">
              </form>
            </div>
        </div>
    </div>
  </div>    
  
  <%- include('../partials/footer.ejs') %>

</body>
</html>
 
