<%- include('../partials/head.ejs', {cssSheet: 'detailProduct'}) %>

<%- include('../partials/header.ejs') %>

<body>
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img id="imagenProducto" src="/images/<%= prenda.img1 %>" alt="Buzo Wilson">
                <img src="/images/<%= prenda.img1 %>" alt = "buzo1">
                <img src="/images/<%= prenda.img2 %>" alt = "buzo2">
                <img src="/images/<%= prenda.img3 %>" alt = "buzo3">
                <img src="/images/<%= prenda.img4 %>" alt = "buzo4">
              </div>
            </div>
            <div class = "img-select">
              <div class = "img-item">
                <a href = "#" data-id = "1">
                  <img src="/images/<%= prenda.img1 %>" alt = "buzo1">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img src="/images/<%= prenda.img2 %>" alt = "buzo2">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img src="/images/<%= prenda.img3 %>" alt = "buzo3">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img src="/images/<%= prenda.img4 %>" alt = "buzo4">
                </a>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class = "product-content">
            <a class="addedit" href="/products/editProduct" target="blank"><i class="fa fa-recycle"></i></a>
            <a class="addedit" href="/products/addProduct" target="blank"><i class="fa fa-plus"></i></a>
            <h2 class = "product-title"><%= prenda.nombre %></h2>
            <a href = "/products/productList" class = "product-link"><%= prenda.categoria %></a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span><%= prenda.rate %></span>
            </div>
  
            <div class = "product-price">
              <p class = "last-price">Antes: <span><%= prenda.precioAntes %></span></p>
              <p class = "new-price">Ahora: <span><%= prenda.precioAhora %> (<%= prenda.discount %>%) </span></p>
            </div>
  
            <div class = "product-detail">
              <h2>Descripción del producto </h2>
              <p><%= prenda.descripcion %></p>
              <ul>
                <li>Categoria: <span><%= prenda.categoria %></span></li>
                <li>Color: <span><%= prenda.color %></span></li>
                <li>Talles
                    <div class="talles">
                        <select>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                        </select>
                    </div>
                </li>
              </ul>
            </div>
  
            <div class = "purchase-info">
              <input type = "number" min = "0" value = "1">
              <button type = "button" class = "btn">
                Agregar al Carrito <i class = "fas fa-shopping-cart"></i>
              </button>
            </div>
  
            <div class = "social-links">
              <p>FOLLOW US: </p>
              <a href = "#">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-instagram"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="cuadroContenedor">    
        <h2 class="ProductosRelacionados">TAMBIÉN TE PODRÍA INTERESAR</h2>

          <section class="contenedorProductosRelacionados">
              
              <article class="contenedorProducto">
                  <a href="../../products/detailProduct/2"><img class="imagenProducto" src="/images/MaletaparaEntrenamiento1.jpg" alt="buzo 2"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">Maleta para Entrenamiento</span>
                        <span class="numeroPrecio">$ 12500</span>
                    </div>
                    <button type = "button" class = "product-btn">
                      Agregar al Carrito 
                    </button>
                  </div>
              </article>

              <article class="contenedorProducto">
                  <a href="../../products/detailProduct/7"><img class="imagenProducto" src="/images/NikeAirForce1.jpg" alt="Colgante Arbol de la Vida"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">Nike Air Force</span>
                        <span class="numeroPrecio">$ 10000</span>
                    </div>
                   <button type = "button" class = "product-btn">
                    Agregar al Carrito
                  </button>
                  </div>
              </article>

              <article class="contenedorProducto">
                  <a href="../../products/detailProduct/6"><img class="imagenProducto" src="/images/SudaderaRunningNike1.png" alt="Anillos Dorados"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">Sudadera Running Nike</span>
                        <span class="numeroPrecio">$ 10000</span>
                    </div>
                    <button type = "button" class = "product-btn">
                      Agregar al Carrito
                    </button>
                  </div>
                </article>                      
          </section>    
      </div>  

  <%- include('../partials/footer.ejs') %>

</body>
</html>