<%- include('../partials/head.ejs', {cssSheet: 'detailProduct'}) %>

<%- include('../partials/header.ejs') %>

<body>
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                <img id="imagenProducto" src="/images/products/<%= product.productImage %>" alt="Buzo Wilson">
              </div>
            </div>
           
          </div>
          <!-- card right -->
          <div class = "product-content">
          <a class="addeditdelete" href="/../products/edit/<%= product.id %>" target="blank"><i class="fa fa-recycle"></i></a>
         <!--  <a class="addeditdelete" href="/../prueba/create/" target="blank"><i class="fa fa-plus"></i></a> -->  
          <a class="deletebutton" href="/products/delete/<%= product.id %>" target="blank">ELIMINAR</a>
            
            <h2 class = "product-title"><%= product.product %></h2>
            <a href = "/products/" class = "product-link"><%= product.category.category %></a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span><%= product.rate %></span>
            </div>
  
            <div class = "product-price">
              <p class = "last-price">Antes: <span><%= product.beforePrice %></span></p>
              <p class = "new-price">Ahora: <span><%= product.afterPrice %> (<%= product.discount %>%) </span></p>
            </div>
  
            <div class = "product-detail">
              <h2>Descripción del producto </h2>
              <p><%= product.description %></p>
              <ul>
                <li>Categoria: <span><%= product.category.category %></span></li>
                <li>Color: <span><%= product.color.color %></span></li>
                <li>Talle: <span><%= product.size %></span></li>
              </ul>
            </div>
  
            <div class = "purchase-info">
              <input type = "number" min = "0" value = "1">
              <button type = "button" class = "btn">
                Agregar al Carrito <i class = "fas fa-shopping-cart"></i>
              </button>
            </div>
  
            <div class = "social-links">
              <p>FOLLOW US: </p>
              <a href = "#">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-instagram"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="cuadroContenedor">    
        <h2 class="ProductosRelacionados">TAMBIÉN TE PODRÍA INTERESAR</h2>

          <section class="contenedorProductosRelacionados">
              
              <article class="contenedorProducto">
                  <a href="../../products/detailProductDB/2"><img class="imagenProducto" src="/images/products/MaletaparaEntrenamiento1.jpg" alt="buzo 2"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">Maleta para Entrenamiento</span>
                        <span class="numeroPrecio">$ 12500</span>
                    </div>
                    <button type = "button" class = "product-btn">
                      Agregar al Carrito 
                    </button>
                  </div>
              </article>

              <article class="contenedorProducto">
                  <a href="../../products/detailProductDB/7"><img class="imagenProducto" src="/images/products/DHAirForce1.jpg" alt="Nike Air Force"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">DH Air Force</span>
                        <span class="numeroPrecio">$ 10000</span>
                    </div>
                   <button type = "button" class = "product-btn">
                    Agregar al Carrito
                  </button>
                  </div>
              </article>

              <article class="contenedorProducto">
                  <a href="../../products/detailProductDB/6"><img class="imagenProducto" src="/images/products/SudaderaRunningDH1.png" alt="Sudadera Running Nike"></a>
                  <div class="infoProducto">
                    <div>
                        <span class="nombreProducto">Sudadera Running DH</span>
                        <span class="numeroPrecio">$ 10000</span>
                    </div>
                    <button type = "button" class = "product-btn">
                      Agregar al Carrito
                    </button>
                  </div>
                </article>                      
          </section>    
      </div>  

  <%- include('../partials/footer.ejs') %>

</body>
</html>