
<%- include('../partials/head.ejs', {cssSheet: 'productCart'}) %>

<%- include('../partials/header.ejs') %>

<body>
    <div class="tittleSpace">
    <h2>EDITAR PRODUCTO</h2>
    <div class="row">
        <div class="col-75">
            <div class="container">
            <form action="/../../products/editProduct/<%= productoEditar.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
      
              <div class="row">
                <div class="col-50">
                  <h3>Datos del producto</h3>
                  <label for="nombre"><i class="fa fa-tag"></i> Nombre del Producto</label>
                  <input type="text" id="nombre" name="nombre" value= "<%= productoEditar.nombre %>" required>
                  <label for="rate"><i class="fa fa-star"></i> Puntuación</label>
                  <input type="text" id="rate" name="rate" value= "<%= productoEditar.rate %>" required>
                  <label for="precioAntes"><i class="fa fa-money-bill"></i> Precio Antes</label>
                  <input type="text" id="precioAntes" name="precioAntes" value= "<%= productoEditar.precioAntes %>" required>
                  <label for="precioAhora"><i class="fa fa-dollar-sign"></i> Precio Ahora</label>
                  <input type="text" id="precioAhora" name="precioAhora" value= "<%= productoEditar.precioAhora %>" required>
                  <label for="discount"><i class="fa fa-percent"></i> Descuento</label>
                  <input type="text" id="discount" name="discount" value= "<%= productoEditar.discount %>" required>
                  <label for="descripcion"><i class="fa fa-keyboard"></i> Descripción</label>
                  <textarea name="descripcion" id="descripcion" rows="6" cols="50" required>  <%= productoEditar.descripcion %> </textarea>
                  <label for="categoria"><i class="fa fa-list"></i></i> Categoría</label>
                  <input type="text" id="categoria" name="categoria" value= "<%= productoEditar.categoria %>" required>
      
                  <div class="row">
                    <div class="col-50">
                      <label for="color"><i class="fa fa-palette"></i> Color</label>
                      <input type="text" id="color" name="color" value= "<%= productoEditar.color %>" required>
                    </div>
                    <div class="col-50">
                      <label for="size"><i class="fa fa-ruler"></i> Talle</label>
                      <input type="text" id="size" name="size" value= "<%= productoEditar.size %>" required>
                    </div>
                    <div class="col-50">
                      <label for="productImage"><i class="fa fa-file-import"></i> Subir Imagen</label>
                      <input type="file" name="productImage" value="Editar Imagen" >
                    </div>
                  </div>
                </div>
                <div class="col-50">
                    <h3>Imagen del producto</h3>
                    <article class="articulo">
                        <img class="imagenes-addProduct" src="/images/products/<%= productoEditar.img1 %>" alt=" ">
                    </article>
                </div>
              </div>
              
              <input type="submit" value="Editar Producto" class="btn">
            </form>
          </div>
        </div>
      </div>
  </div>    
  <%- include('../partials/footer.ejs') %>

</body>
</html>