<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {cssSheet: 'productList'}) %>
<%- include('../partials/header.ejs') %>

<body>

    <main class = "main-wrapper">
       <div class = "tituloProductos">
            <div class = "title">
                <h1>Nuestros Productos</h1>
            </div>

        <section id="listadoProductos"> 
            
            <% locals.listaProductos.forEach(prenda => { %>
                <article class="contenedorProducto"> 
                    <a href="/products/detailProduct/<%= prenda.id %>"><img class="imagenProducto" src="/images/products/<%= prenda.img1 %>" alt="Imagen Producto"></a>
                    <!-- <img class="rear-img" src="../images/buzo2.jpg" alt="rear product image"> -->
                    <div class="infoProducto">
                        <div>
                            <span class="nombreProducto"><%= prenda.nombre %></span>
                            <span class="nombreProducto"><%= prenda.categoria %></span>
                            <span class="numeroPrecio">$ <%= prenda.precioAhora %></span>
                        </div>
                        <a href = "#"><i class = "product-btn">Agregar al Carrito</i></a>
                    </div>
                </article>
            <% }) %>

        </section>

    </main>
    
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>