<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {cssSheet: 'productList'}) %>
<%- include('../partials/header.ejs') %>

<body>
    <main class = "main-wrapper">
        <div class = "tituloProductos">
            <div class = "title">
                <h1>Nuestros Productos</h1>
            </div>
 
        <section id="listadoProductos">
            
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <article class="contenedorProducto"> 
                        <a href="/prueba/pruebaDetailProduct/<%= products[i].id %>"><img class="imagenProducto" src="/images/products/<%= products[i].productImage %>" alt="Imagen Producto"></a>
                        <div class="infoProducto">
                            <div>
                                <span class="nombreProducto"><%= products[i].product %></span>
                                <!-- <span class="nombreProducto"><%= products[i].category.category %></span> -->
                                <span class="numeroPrecio">$ <%= products[i].afterPrice %></span>
                            </div>
                            <a href = "#"><i class = "product-btn">Agregar al Carrito</i></a>
                        </div>
                    </article>
                <% } %>        
        </section>
        <!-- <section>
            <div>
                <a href = "/../prueba/create/"><i class = "agregarProducto">Agregar un producto</i></a>
            </div>
        </section> -->

        <section class="destacado">
            <div class="container">
              <h2 class="destacado-titulo">¡Agrega un nuevo producto!</h2>
              <p class="destacado-descripcion">Descubre nuestra última colección y agrega un producto increíble a tu catálogo.</p>
              <a href="/../prueba/create/" class="destacado-boton">Agregar Producto</a>
            </div>
          </section>
        
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>