<%- include('../partials/head.ejs', {cssSheet: 'login'}) %>

<%- include('../partials/header.ejs') %>

<form action="/users/login" method="post">
    <h3>¡Bienvenid@!</h3>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input 
        type="email" 
        placeholder="abcd@mail.com" 
        name="email"
        value= "<%= locals.oldData ? oldData.email : null %>"
      >
      <% if (locals.errors && locals.errors.email) { %>
        <div class="text-danger">
          <%= locals.errors.email.msg %>
        </div>
      <% } %>
  
      <label for="contrasena"><b>Contraseña</b></label>
      <input 
        type="password" 
        placeholder="Contraseña" 
        name="contrasena"
      >
      <% if (locals.errors && locals.errors.contrasena) { %>
        <div class="text-danger">
          <%= locals.errors.contrasena.msg %>
        </div>
      <% } %>

      <button type="submit">Ingresar</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Recordar
      </label>
    </div>
  
    <div class="container">
      <button type="button" class="cancelbtn">Cancelar</button>
      <span class="psw">¿Olvidaste tu <a href="#">contraseña?</a></span>
    </div>
</form>

<%- include('../partials/footer.ejs') %>

</body>
</html>
