
<%- include('../partials/head.ejs', {cssSheet: 'register'}) %>

<%- include('../partials/header.ejs') %>

<form action="/users/register" method="post" enctype="multipart/form-data">
  <h3>¡Regístrate, es gratis!</h3>
  <div class="container">
    <label for="nombre"><b>Nombre</b></label>
    <input 
      type="text" 
      placeholder="Nombre/Nombres" 
      name="nombre"
      value="<%= locals.oldData ? locals.oldData.nombre : '' %>"
    >
    <% if (locals && locals.errors && locals.errors.nombre) { %>
      <div class="text-danger">
        <%= locals.errors.nombre.msg  %>
      </div>
    <% } %>
    

    <label for="apellido"><b>Apellidos</b></label>
    <input 
      type="text" 
      placeholder="Apellidos" 
      name="apellido"
      value= "<%= locals.oldData ? oldData.apellido : null %>"
    >
    <% if (locals && locals.errors && locals.errors.apellido) { %>
      <div class="text-danger">
        <%= locals.errors.apellido.msg  %>
      </div>
    <% } %>

    <label for="fechaNacimiento"><b>Fecha de Nacimiento</b></label>
    <input 
      type="date" 
      name="fechaNacimiento"
      value= "<%= locals.oldData ? oldData.fechaNacimiento : null %>"
    >
    <% if (locals.errors && errors.fechaNacimiento) { %>
      <div class="text-danger">
        <%= errors.fechaNacimiento.msg  %>
      </div>
    <% } %>

    <label for="email"><b>Email</b></label>
    <input 
      type="email" 
      placeholder="abcd@mail.com" 
      name="email"
      value= "<%= locals.oldData ? oldData.email : null %>"
    >
    <% if (locals.errors && errors.email) { %>
      <div class="text-danger">
        <%= errors.email.msg  %>
      </div>
    <% } %>

    <label for="contrasena"><b>Contraseña</b></label>
    <input 
      type="password" 
      placeholder="Contraseña" 
      name="contrasena"
    >
    <% if (locals.errors && errors.contrasena) { %>
      <div class="text-danger">
        <%= errors.contrasena.msg  %>
      </div>
    <% } %>

    <label for="categoria"><b>Categoria</b></label>
    <input 
      type="text" 
      placeholder="Administrador/Usuario" 
      name="categoria"
      value= "<%= locals.oldData ? oldData.categoria : null %>"
    >
    <% if (locals.errors && errors.categoria) { %>
      <div class="text-danger">
        <%= errors.categoria.msg  %>
      </div>
    <% } %>

    <label for="userImage"><i class="fa fa-file-import"></i> Subir Imagen</label>
    <input type="file" name="userImage" value="Agregar Imagen" >

    <% if (locals.errors && errors.userImage) { %>
      <div class="text-danger">
        <%= errors.userImage.msg  %>
      </div>
    <% } %>

    <button type="submit">Registrarse</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Recordar
    </label> -->
  </div>
</form>

  <%- include('../partials/footer.ejs') %>

</body>
</html>