
<%- include('../partials/head.ejs', {cssSheet: 'register'}) %>

<%- include('../partials/header.ejs') %>

<script src="/js/registerUser.js"></script>

<form class="form" action="/users/register" method="post" enctype="multipart/form-data">
  <h3>¡Regístrate, es gratis!</h3>
  <ul class="errores">
  </ul>
  <div class="container">
    <label for="nombre"><b>Nombre</b></label>
    <input
      id="firstname" 
      type="text" 
      placeholder="Nombre/Nombres" 
      name="nombre"
      value="<%= locals.oldData ? locals.oldData.nombre : '' %>"
    >
    <% if (locals && locals.errors && locals.errors.nombre) { %>
      <div class="text-danger">
        <%= locals.errors.nombre.msg  %>
      </div>
    <% } %>
    
    

    <label for="apellido"><b>Apellidos</b></label>
    <input 
      id="lastname" 
      type="text" 
      placeholder="Apellidos" 
      name="apellido"
      value= "<%= locals.oldData ? oldData.apellido : null %>"
    >
    <% if (locals && locals.errors && locals.errors.apellido) { %>
      <div id="lastnameError" class="text-danger">
        <%= locals.errors.apellido.msg  %>
      </div>
    <% } %>

    <label for="fechaNacimiento"><b>Fecha de Nacimiento</b></label>
    <input 
      id="fechaNacimiento"
      type="date" 
      name="fechaNacimiento"
      value= "<%= locals.oldData ? oldData.fechaNacimiento : null %>"
    >
    <% if (locals.errors && errors.fechaNacimiento) { %>
      <div class="text-danger">
        <%= errors.fechaNacimiento.msg  %>
      </div>
    <% } %>

    <label for="email"><b>Email</b></label>
    <input 
      id="mail"
      type="email" 
      placeholder="abcd@mail.com" 
      name="email"
      value= "<%= locals.oldData ? oldData.email : null %>"
    >
    <span id="emailError" class="errores"></span>
    <% if (locals.errors && errors.email) { %>
      <div id="emailError" class="text-danger">
        <%= errors.email.msg  %>
      </div>
    <% } %>
    

    <label for="contrasena"><b>Contraseña</b></label>
    <input
      id="pass"
      type="password" 
      placeholder="Contraseña" 
      name="contrasena"
    >
    <span id="contrasenaError" class="errores"></span>
    <% if (locals.errors && errors.contrasena) { %>
      <div id="passError" class="text-danger">
        <%= errors.contrasena.msg  %>
      </div>
    <% } %>
    

    <label for="categoria"><b>Categoria</b></label>
    <input 
      id="categoria"
      type="text" 
      placeholder="Administrador/Invitado" 
      name="categoria"
      value= "<%= locals.oldData ? oldData.categoria : null %>"
    >
    <% if (locals.errors && errors.categoria) { %>
      <div class="text-danger">
        <%= errors.categoria.msg  %>
      </div>
    <% } %>  

    <label for="userImage"><i class="fa fa-file-import"></i> Subir Imagen</label>
    <input id= "userImage" type="file" name="userImage" value="Agregar Imagen" >

    <% if (locals.errors && errors.userImage) { %>
      <div class="text-danger">
        <%= errors.userImage.msg  %>
      </div>
    <% } %>
    

    <button type="submit" id="button" >Registrarse</button>
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember"> Recordar
    </label> -->
  </div>
</form>

  <%- include('../partials/footer.ejs') %>

<!-- <script src="/public/js/validacionFrontRegister.js"></script> -->
</body>
</html>